.foo {
  background-color: rgba($black, .8);
  color: $white;
  // height: 80px;
  position: relative;
  text-align: center;
  width: 90%;

  @media screen and (min-width: 768px)  {
    margin-left: 127px;
  }

  small {
    // margin-top: 5rem;
    display: block;
    padding: 1rem 0;
  }
}
